#main form {
    height: auto;
    width: 100%;
}

#main-table {
    padding-bottom: 30px;
    overflow-y: auto;
}

.edit-mode {
    border: solid 2px var(--bs-primary) !important;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#back {
    position: fixed;
    top: 60px;
    left: 5px;
}